{% extends 'base.html.twig' %}

{% block title %}Edit article - Newscast{% endblock%}

{% block body %}

    <div class="block-width-95">
        {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
        {{ form_start(form) }}
            {{ form_row(form.title) }}
            {{ form_row(form.author) }}
            {{ form_row(form.category) }}
            {{ form_row(form.publicationDate) }}
            {{ form_row(form.description) }}
            {{ form_row(form.body) }}
            <button class="btn btn-primary center-block" type="submit">Save article</button>
        {{ form_end(form) }}
    </div>

{% endblock %}

