{% extends 'base.html.twig' %}

{% block title %}{% trans %}Edit article{% endtrans %} - Newscast{% endblock%}

{% block body %}

    <div class="block-width-95 center-block">
        {% form_theme form 'bootstrap_3_layout.html.twig' %}
        {{ form_start(form) }}
            {{ form_row(form.title) }}
            {{ form_row(form.author) }}
            {{ form_row(form.category) }}
            {{ form_row(form.publicationDate) }}
            {{ form_row(form.description, {'attr': {'rows': 4 }}) }}
            {{ form_row(form.similarArticles, {'attr': {'size': 10 }})}}
            {{ form_row(form.body) }}
            <button class="btn btn-primary center-block" type="submit">
                {% trans %}
                Save article
                {% endtrans %}
            </button>
        {{ form_end(form) }}
    </div>

{% endblock %}

