{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center lead">Edit category</h1>
    <div class="block-width-80 center-block">
        <table class="block-width-40">
            <tr>
                {% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
                {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
            </tr>
            <tr>
                <th>
                    <a class="btn-default btn" href="{{ path('category_index') }}" role="button">
                        Back to the list
                    </a>
                </th>
                <th>
                    <input class="btn-primary btn margin-left-6" type="submit" value="Submit changes" />
                    {{ form_end(edit_form) }}
                </th>
                <th>
                    {{ form_start(delete_form) }}
                    <input class="btn-danger btn" type="submit" value="Delete"
                           onclick="return confirm('{% trans %}Are you sure?{% endtrans %}');" />
                    {{ form_end(delete_form) }}
                </th>
            </tr>
        </table>
    </div>
{% endblock %}
