{% extends 'base.html.twig' %}

{% block stylesheets%}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('assets/mainpage_fixes.css') }}"/>
{% endblock %}

{% block title %}Newscast{% endblock%}

{% block body %}
    <div class="center-block block-width-80">
        <table class="nav-tabs table-condensed" title="Sort by:">
            <tr class="small">
                <th>Sort by:</th>
                {# sorting of properties based on query components #}
                <th{% if pagination.isSorted('a.Title') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Title', 'a.title') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Release date', 'a.publicationDate') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Category', 'cat.name') }}</th>
            </tr>
        </table>
    <br>
        {# table body #}
        {% for article in pagination %}
            <div class="article-title">
                {{ article.title }}
            </div>
            <div class="small attributes">
                {{ article.publicationDate | date('d M Y') }}
                {{ article.category.name }}
            </div>
            <div>
                {{ article.description }}
            </div>
            <table class="table">
                <tr><th></th></tr>
            </table>
        {% endfor %}
        {# display navigation #}
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    <div>
{% endblock %}