{% extends 'base.html.twig' %}

{% block title %}Newscast{% endblock%}

{% block body %}
    <table>
        <tr>
            {# sorting of properties based on query components #}
            <th{% if pagination.isSorted('a.Title') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Title', 'a.title') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Release', 'a.publicationDate') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Category', 'a.category.name') }}</th>
        </tr>

        {# table body #}
        {% for article in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td><strong>{{ article.title }}</strong></td>
                <td>{{ article.publicationDate | date('Y-m-d') }}</td>
                <td>{{ article.category.name }}</td>
            </tr>
            <tr>
                <td>{{ article.description }}</td>
            </tr>
        {% endfor %}
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}