{% extends 'base.html.twig' %}

{% block title %}Registration{% endblock%}

{% block body %}
    {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
    {{ form_start(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}
    <div style="width: 0; margin: auto;">
        <button class="btn btn-primary" type="submit">Register!</button>
    </div>
    {{ form_end(form) }}
{% endblock %}